#Titulos {
  color: white;
  text-align: center;
  text-shadow: 2px 2px 2px #558abb;
}

#OpacidadFondo {
  background-color: black;
  opacity: 0.7;
  height: 199px;
  width: 1500px;
  position: absolute;
  bottom: -2px;
}

#ColorLabels {
  color: white;
  text-shadow: 2px 2px 2px #558abb;
}

.internal {
  text-align: justify;
}

.slide {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}
.slide img {
  height: 800px;
}
